.Coming_Soon section.coming-soon-form {
  margin-top: 55px;
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & label {
      font-weight: 600;
      font-size: 20px;
      color: $secondary-color;
    }
    & input[type="text"] {
      @media (max-width: $lx) {
        width: 55%;
      }
      @media (max-width: $l) {
        width: 65%;
      }
      @media (max-width: $s) {
        width: 85%;
      }
      padding-left: 25px;
      border: solid 1px #7070709f;
      background-color: #ffffff;
      height: 50px;
      margin-top: 20px;
      width: 40%;
      outline: none;
      transition:$rate-trans;
      font-size: 19px;
      &:focus {
        border: solid 1px $main-color;
      }
    }
  }
  & input[type="submit"] {
    font-size: 18px;
    width: 146px;
    height: 46px;
    background-color: $secondary-color;
    margin-top: 24px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition:$rate-trans;
    &:hover {
      background-color: $secondary-color-hover;
    }
  }
  & .social-media {
    display: flex;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    & ul {
      display: flex;
      width: 240px;
      justify-content: space-between;
      align-items: center;
    }
    & li i {
      padding-top: 11px;
      border-radius: 50%;
      font-size: 18px;
      color: white;
      background-color: $main-color;
      width: 39px;
      height: 39px;
      text-align: center;
      transition:$rate-trans;
      &:hover {
        color: $main-color;
        background-color: white;
        border: 1px solid $main-color;
      }
    }
  }
}
