.Home .Browse_form {
  text-align: center;

  & .title {
    margin-bottom: 25px;
  }
  & p {
    @extend %par-text;
    font-size: 12px;
    margin-bottom: 50px;
    @media (max-width: $m) {
      font-weight: 500;
      font-size: 11px;
    }
  }
  & form {
    width: 530px;
    margin: auto;
    display: flex;
    height: 35px;
    @media (max-width: $m) {
      width: 450px;
    }
    @media (max-width: $s) {
      width: 320px;
    }
  }
  & input {
    font-size: 15px;
    width: 90%;
    border: solid 2px var(--main-color);
    background-color: #fff;
    transition: $rate-trans;
    padding-left: 8px;
    outline: none;

    &:focus {
      border: solid 2px $main-color-hover;
    }
  }

  & button {
    @extend %btn-main;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.08);
    margin-left: -2px;
    width: 115px;
    &:hover {
      background-color: $main-color-hover;
    }
  }
  & img {
    width: 80%;
    margin: 13px 0px;
  }
}
