.Login .content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 30px 0;
}
.Login .landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.Login .landing img {
  width: 70%;
}
.Login .forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.Login .forms h1 {
  font-size: 29px;
  color: var(--tertiary-color);
}
.Login .forms p {
  font-size: 13px;
  color: var(--secondary-color);
  margin: 10px 0 14px 0;
  line-height: 21px;
}
.Login .forms .row {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Login .forms input {
  padding-left: 40px;
  height: 47px;
  outline: none;
  border: 1px solid var(--main-color);
  font-size: 17px;
}
.Login .forms label {
  font-size: 12px;
  margin: 0px 0px 7px 2px;
}
.Login .forms .row i {
  position: absolute;
  bottom: 17px;
  left: 13px;
  font-size: 12px;
  color: var(--secondary-color);
}
.Login .forms .sign-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.Login .forms .sign-in .checkbox {
  justify-content: space-between;
  display: flex;
}
.Login .forms .sign-in .checkbox p {
  font-size: 11px;
  padding-top: 3px;
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
}
.Login .forms .sign-in .checkbox p:hover {
  color: #3fe894de;
  text-decoration: underline var(--main-color);
}
.Login .forms .sign-in .checkbox span {
  justify-content: space-between;
  display: flex;
}
.Login .forms .sign-in .checkbox span p {
  padding-top: 3px;
  color: var(--tertiary-color);
  margin-left: -5px;
  font-size: 11px;
}
.Login .forms .sign-in .checkbox span p:hover {
  color: var(--tertiary-color);
}
.Login .forms .sign-in button {
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  background-color: #ffffff;
  font-weight: 700;
  background: var(--main-color);
  color: white;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 49px;
}
.Login .forms .sign-in button:hover {
  background-color: #3fe894de;
}
.Login .forms h2 {
  display: flex;
  justify-content: center;
  font-size: 11px;
  margin-top: 18px;
  color: var(--secondary-color);
}
.Login .forms h2 a {
  padding-left: 9px;
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.Login .forms h2 a:hover {
  color: #3fe894c2;
}
.Login .forms .c- {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.Login .forms .c- span {
  font-size: 10px;
  color: var(--tertiary-color);
}

/* ------------------------ */
.Login .landing h2 {
  font-weight: 700;
  margin: 11px 0;
  font-size: 24px;
  text-align: center;
  color: var(--tertiary-color);
}
.Login .landing p {
  text-align: center;
  color: var(--secondary-color);
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 10px;
}
.Login .landing span {
  display: flex;
  justify-content: space-between;
}
.Login .landing span i {
  padding: 9px;
  margin: -4px 4px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  background: #fff;
  border-radius: 50%;
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .Login .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Login .forms {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .Login .landing {
    width: 70%;
  }
  .Login .forms {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .Login .forms h1 {
    text-align: center;
  }
  .Login .forms p {
    text-align: center;
  }
  .Login .landing {
    width: 90%;
  }
  .Login .forms {
    width: 90%;
  }
}
