.dashboard_item_content .audience_growth {
  padding-top: 100px;
}

.Dashboard .dashboard-sections .dashboard_item_content .audience_growth {
  box-shadow: 0px 0px 12px 0px #0000001c;
  border-radius: 15px;
  padding: 40px;
  background: white;
}

@media (max-width: 768px) {
  .dashboard_item_content .audience_growth {
    padding-top: 0px;
  }
}
@media (max-width: 450px) {
  .Dashboard .dashboard-sections .dashboard_item_content .audience_growth {
    padding: 0;
  }
}
