.dashboard_item .countries_stats {
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px #0000001c;
  background: white;
  width: 460px;
  height: 330px;
  padding: 0 35px;
}


.dashboard_item .countries_stats ul {
  width: 100% !important;
}

.countries-stats-board {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .countries-stats-board {
    margin-top: 10px;
  }
  .dashboard_item .countries_stats {
    width: auto;
    height: auto;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .dashboard_item .countries_stats {
    padding: 40px;
  }
}
@media (max-width: 450px) {
  .dashboard_item .countries_stats {
    padding: 0;
  }
}
